<div id="registerModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <div class="d-flex border-bottom rounded-top align-items-center justify-content-between py-3 px-3">
                <h4 class="modal-title" style="padding-left:180px">Regista-te</h4>
                <button type="button" class="btn-close btn-close-white" data-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <RegisterForm />
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <p>Já tens conta? </p>
                <NavLink class="mx-1" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Entra</NavLink>
            </div>
        </div>
    </div>
</div>
