@inherits LayoutComponentBase

@using Movieminds.Client.Components.Authentication;

<CascadingAuthenticationState>
    <div class="page bg-dark">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main class="main-content">
            @Body
            <LoginModal />
            <RegisterModal />
        </main>
    </div>
</CascadingAuthenticationState>
